@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  font-family: "Lato", sans-serif;
}

html,
body {
  overflow: hidden !important;
}

body {
  background-color: #f4f4f4;
}

.navbar {
  background-color: transparent;
}

h1 {
  font-size: 40px;
}
